div .st {
  height: 200px;
}

div .amount {
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  position: sticky;
  top: 60%;
  opacity: 0;
}

div .compname {
  height: 50px;
  font-size: 15px;
  font-weight: bold;
}

.comp {
  max-height: 200px;
  max-width: 100%;
}

html,body,#root,.container-xl {
  height: 100%;
}
